##############################
## Folders                  ##
##############################
LcSystem/.idea
 
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
